@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    
}
body{
    background: #000;
    -webkit-font-smoothing: antialiased;
    color: #999;
    
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: 100;
}
header .logo img{
    max-width: 150px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style:none;
    margin: 0 10px;
}
.navigation li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;

}
.navigation li:hover a{
    color: #de0611;
}
.search{
    position: relative;
    width: 250px;
    height: 40px;
    
}.movies{
    padding: 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}
.movie-col{
    box-sizing: border-box;
    font-size: 70%;
    background: #000;
    width: 20%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 40px 20px;
    transition: 1s;
    height: 100%;
    overflow: hidden;
}
.movie-col .detials{
    width: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(153, 153, 153, 0.211);
    color: #fff;
    transform: translateY(100%);
    text-align: center;
    transition: 1s;
    height:100%;
    overflow: hidden;
}
.movie-col .detials img{
    padding: 20px 0px;
    z-index: 1;
   width: 50%;
   height: auto;
   margin-bottom: 20%;
}
.movie-col .detials .hero{
    padding: 10px;
    z-index: 1;
}
.movie-col .detials p{
    z-index: 2;
    padding: 10px 4px;
}
.details h1{
    color: red;
}
.movie-col:hover img:first-child{
    transition: 1s;
    transform: scale(1.1);
    filter: blur(20px);
}
.movie-col:hover .detials{
    transition: 1s;
    height: 100%;
    transform: translateY(0);
}
.movie-col img{
    z-index: 1;
    overflow: hidden;
    margin-bottom: -2%;
    padding-bottom: 0px;
    width:80%;
    transition:1s;
    image-resolution: 100%;
    height: 100%;
}

.movie-col img{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: center;
    overflow: hidden;
}
.search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 2555,0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
}
.search input::placeholder
{
    color: #fff;
}
.search .fa-search
{
    position: absolute;
    top: 50%;
    left:10px;
    border-right: 1px solid#fff;
    transform: translateY(-50%);
    padding-right: 10px;
    color: #fff;
}

@media(max-width: 991px){
    .sticky h1{
        margin-bottom: 20px;
    }
.movies{
    padding: 20px 0;
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}
.movie-col{
    box-sizing: border-box;
    font-size: 90%;
    background: #000;
    width: 98%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 20px;
    transition: 1s;
    height: 100%;
    overflow: hidden;
}
.movie-col .detials{
    width: 90%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(153, 153, 153, 0.211);
    color: #fff;
    transform: translateY(100%);
    text-align: center;
    transition: 1s;
    height:100%;
    overflow: hidden;
}
.movie-col .detials img{
    padding: 20px 0px;
    z-index: 1;
   width: 50%;
   height: auto;
   margin-bottom: 20%;
}
.movie-col .detials .hero{
    padding: 10px;
    z-index: 1;
}
.movie-col .detials p{
    z-index: 2;
    padding: 10px 4px;
}
.details h1{
    color: red;
}
.movie-col:hover img:first-child{
    transition: 1s;
    transform: scale(1.1);
    filter: blur(20px);
}
.movie-col:hover .detials{
    transition: 1s;
    height: 100%;
    transform: translateY(0);
}
.movie-col img{
    z-index: 1;
    overflow: hidden;
    margin-bottom: -2%;
    padding-bottom: 0px;
    width:80%;
    transition:1s;
    image-resolution: 100%;
    height: 100%;
}

    header{
        padding:10px 30px;
        flex-direction: column;
    }
    .heading h1{
        font-size: 2em;
        overflow: hidden;
    }

    .navigation{
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px ;
    }
    .search{
        position: relative;
        width: 250px;
        height: 40px;
        padding-bottom: 20px;
        
    }
}


.showcase {
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: relative;
    background: url('../resources/background.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    overflow: hidden;
}
.showcase:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background:rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

h1, h2, h3, h4{
    color: #fff;
}
a{
    color: #fff;
text-decoration: none;
}
.showcase-content
{max-width: 650px;
    margin:0 auto;
    position: relative;
    margin: auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    z-index: 2;
}
.showcase-content h1{
   font-weight: 600;
   font-size: 3.2rem;
   line-height: 1.1;
}

/* ................btn............. */
.btn{
    display: inline-block;
    background:#de0611 ;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover
{
    opacity: 0.9;
}
.btn-rounded{
    border-radius: 2rem;
    margin: 15px 0px;

}

.btn-xl{
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}
.btn-lg{
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}
.marvel{
    height: auto;
    width: 100%;
    background:url(../resources/Untitled-1.jpg) no-repeat;
    background-size:cover ;
    background-position-x: fill;
    background-position-y: top;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 450px #000000, inset -120px 100px 250px #000000;

}
.heading h1{
    text-align: center;
    position: relative;
    width: 100%;
    margin:20px 0 0;
    font-size: 4em;
    font-weight: 900;
    color: #de0611;
    z-index: 1;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 3px;
}
video{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: screen;
    overflow: hidden;

}
.sticky h1 span{
    display: inline-block;
    opacity: 0;
    animation: animate 2s linear forwards;
}
@keyframes animate{
0%{
opacity: 0;
transform: rotateY(90deg);
filter: blur(10px);
}
100%{
    opacity: 1;
transform: rotateY(0deg);
filter: blur(0);
}
}
.sticky h1 span:nth-child(1){
animation-delay: 2s;
}
.sticky h1 span:nth-child(2){
animation-delay: 2.5s;
color: #de0611;
}
.sticky h1 span:nth-child(3){
animation-delay: 3s;
}
.sticky h1 span:nth-child(4){
animation-delay: 3.5s;
color: #de0611;
}
.sticky h1 span:nth-child(5){
animation-delay: 3.75s;
}
.sticky h1 span:nth-child(6){
animation-delay: 4s;
color: #de0611;
}

.heading h1 span{
    color: #fff;
    
}
